{% extends 'base.html.twig' %}

{% block title %}Hello FeesheetController!{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Fiche frais {{ feesheet.date|date("M") ~ ' '  ~ feesheet.date|date("Y") }}</h1>
</div>
{{ form_start(form) }}
<button type="submit" class="btn btn-primary">Actualiser</button>




<div>
<h2>Frais Forfaitaire</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Frais Forfaitaire</th>
      <th scope="col">Quantité</th>
      <th scope="col">Montant unitaire</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  
    {% for standardfeesline in form.standardfeeslines %}
    <tr>
        <td>{{ standardfeesline.standardFees.name.vars.value }}</td>
        <td>{{ form_row(standardfeesline.quantity) }}</td>
        <td>{{ standardfeesline.standardFees.unitAmount.vars.value }}</td>
        <td>{{ standardfeesline.quantity.vars.value * standardfeesline.standardFees.unitAmount.vars.value }}</td>
    </tr>
        {{ form_row(standardfeesline.standardFees) }}
    {% endfor %}
  </tbody>
</table>


<h2>Autres Frais</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Libellé</th>
      <th scope="col">Montant </th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {% for variablefeesline in form.variablefeeslines %}
    <tr>
        <td>{{ form_row(variablefeesline.date) }}</td>
        <td>{{ form_row(variablefeesline.name) }}</td>
        <td>{{ form_row(variablefeesline.amount) }}</td>
        <td><a href="" class="btn btn-primary">Supprimer</a></td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
    {{ form_end(form) }}
</div>
{% endblock %}
