{% extends 'base.html.twig' %}

{% block title %}Hello FeesheetController!{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Fiche frais {{ feesheet.date|date("M") ~ ' '  ~ feesheet.date|date("Y") }}</h1>
</div>

<div>
<h2>Frais Forfaitaire</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Frais Forfaitaire</th>
      <th scope="col">Quantité</th>
      <th scope="col">Montant unitaire</th>
      <th scope="col">Total</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
    {% for standardFeesLine in standardFeesLines %}
        <form method="post">
        <input type="hidden" name="idStandardFeesLine" value="{{ standardFeesLine.id }}">
        <tr>
            <td>{{standardFeesLine.StandardFees.name}}</td>
            <td><input type="number" name="quantity" id="" value="{{standardFeesLine.quantity}}"></td>
            <td>{{standardFeesLine.StandardFees.UnitAmount}}</td>
            <td>{{ standardFeesLine.quantity * standardFeesLine.StandardFees.UnitAmount}}</td>
            <td><button class="btn btn-primary" type="submit">Modifier</button></td>
        </tr>
        </form>
        
    {% endfor %}
  </tbody>
</table>


<h2>Autres Frais</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Libellé</th>
      <th scope="col">Montant </th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {{ form_start(form) }}
          <tr>
              <td>{{ form_widget(form.date) }}</td>
              <td>{{ form_widget(form.name) }}</td>
              <td>{{ form_widget(form.amount) }}</td>
              <td><button class="btn btn-primary" type="submit">Ajouter</button></td>
            </tr>
      {{ form_end(form) }}
    

  {% if variableFeesLines %}
      {% for variableFeesLine in variableFeesLines %}
            <form method="post" action="{{ path('app_variablefeesline_edit', {id: variableFeesLine.id}) }}">
                <tr>
                  <td><input type="date" name="date" id="" value="{{ variableFeesLine.date|date("Y-m-d") }}"></td>
                  <td><input type="text" name="name" id="" value="{{ variableFeesLine.name }}"></td>
                  <td><input type="number" name="amount" id="" value="{{ variableFeesLine.amount }}"></td>
                  <td><button class="btn btn-primary" type="submit">Modifier</button></td>
                </tr>
           </form>
      {% endfor %}
  {% endif %}
  </tbody>
</table>
    
</div>
{% endblock %}
