{% extends 'base.html.twig' %}

{% block title %}GSB - Comptable - Fichefrais{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Fiches frais à valider</h1>
</div>

{{ form_start(form) }}
<div class="d-flex flex-row align-items-center">
    {{ form_widget(form) }}
    <div class="align-self-end mx-1">
        <button type="submit" class="btn btn-primary">Cloturer fiches frais</button>
    </div>
	</div>
{{ form_end(form) }}

<table class="table">
  <thead>
    <tr>
        <th scope="col">Employé</th>
        <th scope="col">Date</th>
        <th scope="col">Montant Valide</th>
        <th scope="col">Etat</th>
        <th scope="col">Affichage</th>
    </tr>
  </thead>
  <tbody>
  {% for feesheet in feesheetsCloturees %}
    <tr>
        <td>{{ feesheet.employee.firstname ~ ' ' ~ feesheet.employee.lastname }}</td>
        <td>{{ feesheet.date|date("M") ~ ' '  ~ feesheet.date|date("Y")}}</td>
        <td>{{ feesheet.validAmount }}</td>
        <td>{{ feesheet.state.name }}</td>
        <td><a href="{{path('app_accountant_feesheet_show',{'id': feesheet.id})}}">Voir plus</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
